<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand mb-0 h1" href="#">ESTORE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active"
        [routerLink]="['welcome']" routerlinkactive="active"
        >Welcome <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['products']" routerlinkactive="active"
        >Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
        [routerLink]="['/products/0']" routerlinkactive="active"
        *ngIf='userProfile'
        >New Product</a>
      </li>
    </ul>
  </div>
  <div class="navbar">
    <div class="account d-flex">
          <button class="btn btn-outline-dark login"
          [routerLink]="['login']"
          routerlinkactive="active"
          *ngIf='!userProfile'
          >Sign In</button>
          <button class="btn btn-outline-success register"
          routerlinkactive="active"
          [routerLink]="['register']"
          *ngIf='!userProfile'
          >Sign Up</button>
          <button class="btn btn-outline-dark login"
          (click)="signOut()"
          routerlinkactive="active"
          *ngIf='userProfile'
          >Sign Out</button>
    </div>
  </div>
</nav>
